@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .titleHead {
        @apply text-blue-950 font-bold
    }

    .containerWidth {
        @apply max-w-7xl w-full mx-auto lg:w-10/12
    }

    .inputs {
        @apply p-1 basis-2/5 outline-0 rounded-sm focus:outline-1 focus:outline focus:outline-slate-300
    }

    .offerFlex {
        @apply flex items-center gap-3
    }

    .likeButton {
        @apply text-white p-2 mt-3 hover:opacity-50 transition duration-500
    }

    .orangeButtons {
        @apply block mx-auto bg-orange-600 p-2 my-4 shadow-lg shadow-orange-500 text-white rounded-lg font-medium lg:mx-0
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
}

.animation {
    animation: animate 1500ms linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}

/* .spect {
    border: 2px solid red;
} */