@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.titleHead{
    @apply text-blue-950 font-bold
}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    padding: .5rem;
}
 